<!DOCTYPE html>
<html lang=pt-br>
<head><meta charset=utf-8>
<title>L-oja, o e-commerce do L :: Produtos
<%= categoria.length?' :: '+categoria:'';%></title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<h1>L-oja, o e-commerce do L</h1>
<h2>Produtos<%= categoria.length?' :: '+categoria:'';%></h2>
<% produtos.forEach(function(produto){ %>
<div class="produto">
<p><span>Nome: </span>
<span><%=produto.nome%></span></p>
<p><span>Descrição: </span>
<span><%=produto.desc%></span></p>
<p><span>Preço: </span>
<span>R$ <%=(produto.preco).toFixed(2)%></span></p>
<p><span>Categoria: </span>
<a href="/produtos/<%=produto.categ%>"><%=produto.categ%></a></p>
<span>~~~</span>
</div>
<% });%>
<% if (produtos.length == 0) {%>
<div><p>Não foram encontrados produtos na loja
<%= categoria.length?' para esta categoria.':'.';%></p></div>
<% } %>
<div><p>
<a href="javascript:history.back();">&lt; Voltar</a></p></div>
</body>
</html>
